.button_50 {
  background-color: #05081a; /* Основний колір кнопки */
  color: #ffffff; /* Колір тексту */
  padding: 0.2rem 0.3rem; /* Відступи кнопки */
  border: none; /* Без обводки */
  border-radius: 5px; /* Закруглені кути */
  font-size: 14px; /* Розмір шрифту */
  font-weight: bold; /* Жирний шрифт */
  cursor: pointer; /* Курсор при наведенні */
  margin: 0 2px; /* Відступи між кнопками */
  transition: background-color 0.3s, transform 0.2s; /* Плавні переходи */
}

.button_50:hover {
  background-color: #293bda; /* Темніший відтінок при наведенні */
  transform: scale(1.05); /* Трохи збільшує при наведенні */
}

.button_50:focus {
  outline: none; /* Без контурів при фокусуванні */
  box-shadow: 0 0 0 2px rgba(61, 90, 254, 0.5); /* Світла тінь для фокусу */
}
