/* Контейнер для select */
/* .switcherContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
} */

/* Стиль для select */
.languageSelect {
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
  background: #f0f0f0;
  border: 1px solid #000000; 
  /* border-radius: 8px;  */
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  appearance: none; 
  /* background-repeat: no-repeat;
  background-position: right 10px center; */
}

.languageSelect:hover {
  background: #e6f0ff; /* Світліший фон при наведенні */
  border-color: #32343a;
}

.languageSelect:focus {
  border-color: #565757; /* Темніша рамка при фокусі */
  box-shadow: 0 0 5px rgba(109, 109, 109, 0.5);
}
