/* layout.module.css */

/* Контейнер для основного контенту */
.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1.5rem;
  min-height: 100vh; /* Забезпечуємо мінімальну висоту */
}

/* Кнопки (якщо потрібно) */
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 1rem 0;
}

/* Основний контент */
.main-content {
  padding: 2rem 0;
  flex: 1; /* Займає весь доступний простір */
}