.button {
  margin-left: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  /* border-radius: 50%; */
  width: 40px;
  height: 28px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}

.svg {
  transition: transform 0.3s ease; 
}

.button:active .svg {
  transform: scale(0.9); 
}
