.custom_bg {
  background-image: url("../images/ImageHome.jpeg");
  background-size: cover; /* Покриває весь елемент */
  background-position: center; /* Центрує зображення */
  height: 500px; /* Висота блоку */
  width: 100%;
  color: white; /* Колір тексту */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main_div {
  width: 50%;
  text-align: center;
}
.main {
  text-align: center;
  color: rgb(230, 230, 230);
}
.skills {
  display: flex;
  width: 100%;

  @media only screen and (max-width: 640px) {
    flex-wrap: wrap;
  }
}
.skill {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.item {
  margin: 1rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #c8c9ce;
  border-radius: 8px;
  list-style: none;
}

.skill_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
