/* Теми */
@import "./variables.module.css"; /* Імпортуй змінні */
.light-mode {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode p,
.dark-mode ul {
  color: var(--text);
}

/* Підключення Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Montserrat:wght@700&display=swap");

/* Налаштування базових стилів */
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: var(--primary);
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #222;
  line-height: 1.2;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

/* Контейнер з відступами */
.container {
  max-width: 100vw; /* Гарантує, що контент не буде звужуватися */
  /* padding: 0 20px; */
  margin: 0 auto;
  box-sizing: border-box; /* Включає відступи у ширину контейнера */
}

/* Базова сітка з Flexbox */
.row {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  
}

.column {
  flex: 1 1 100% ;
  /* padding: 0 10px 0 10px; */
  box-sizing: border-box; /* Забезпечує правильні відступи */
  
}

/* Кнопки */
.button {
  background-color: #3d5afe;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #293bda;
}

/* Посилання */
a {
  color: #3d5afe;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #293bda;
}
