:root {
  --primary: #3498db; 
  --secondary: #2ecc71; 
  --background: #ffffff; 
  --text: #333333; 
  --button: #3498db; 
}

.dark-mode {
  --primary: #1abc9c; 
  --secondary: #27ae60; 
  --background: #121212; 
  --text: #f9f9f9; 
  --button: #2ecc71; 
}

.light-mode {
  --background: #f9f9f9; 
  --text: #000000; 
  --button: #3498db; 
}
